/* General Styles */
* {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background-color: #ebeff7;
}

/* Main wrapper */
.container-wrap {
  width: 620px;
  margin: 0 auto;
}

/* Header styles */
header {
  margin: 50px 0px 25px;
  text-align: center;
}
